<!DOCTYPE html>
<html lang="en" dir="ltr" data-scompiler-id="0">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="format-detection" content="telephone=no" />
  <title>Stroyka Admin - eCommerce Dashboard Template</title>
  <!-- icon -->
  <link rel="icon" type="image/png" href="images/favicon.png" />
  <!-- fonts -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" />
  <!-- css -->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.ltr.css" />
  <link rel="stylesheet" href="/vendor/highlight.js/styles/github.css" />
  <link rel="stylesheet" href="/vendor/simplebar/simplebar.min.css" />
  <link rel="stylesheet" href="/vendor/quill/quill.snow.css" />
  <link rel="stylesheet" href="/vendor/air-datepicker/css/datepicker.min.css" />
  <link rel="stylesheet" href="/vendor/select2/css/select2.min.css" />
  <link rel="stylesheet" href="/vendor/datatables/css/dataTables.bootstrap5.min.css" />
  <link rel="stylesheet" href="/vendor/nouislider/nouislider.min.css" />
  <link rel="stylesheet" href="/vendor/fullcalendar/main.min.css" />
  <link rel="stylesheet" href="/css/adminstyle.css" />
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-97489509-8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-97489509-8");
  </script>
</head>

<body>
  


        {{>admin_components}}
        <!-- sa-app__content -->
        <div class="sa-app__content">
          <!-- sa-app__toolbar -->
          {{>admin_navBar}}
          <!-- sa-app__toolbar / end -->
          <!-- sa-app__body -->
          <div id="top" class="sa-app__body">
            <div class="mx-sm-2 px-2 px-sm-3 px-xxl-4 pb-6">
              <div class="container container--max--xl">
                <form action="/admin/add-a-coupon" method="post">
                  <div class="py-5">
                    <div class="row g-4 align-items-center">
                      <div class="col">
                        <nav class="mb-2" aria-label="breadcrumb">
                          <ol class="breadcrumb breadcrumb-sa-simple">
                            <li class="breadcrumb-item">
                              <a href="index.html">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                              <a href="app-coupons-list.html">Coupons</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                              Add Coupon
                            </li>
                          </ol>
                        </nav>
                        <h1 class="h3 m-0">Add Coupon</h1>
                      </div>
                      <div class="col-auto d-flex">
                        <button type="submit" class="btn btn-primary">Add</button>
                      </div>
                    </div>
                  </div>

                  <div class="sa-entity-layout"
                    data-sa-container-query='{"920":"sa-entity-layout--size--md","1100":"sa-entity-layout--size--lg"}'>
                    <div class="sa-entity-layout__body">
                      <div class="sa-entity-layout__main">
                        <div class="card">
                          <div class="card-body p-5">
                            <div class="mb-5">
                              <h2 class="mb-0 fs-exact-18">Basic information</h2>
                            </div>
                            <div class="mb-4">
                              <label for="form-coupon/code" class="form-label">Code</label>
                              <input type="text" class="form-control" id="form-coupon/code" name="code" required />
                            </div>
                            <div class="mb-4">
                              <div class="form-label mb-3">Type</div>
                              <label class="form-check"><input type="radio" class="form-check-input" name="type"
                                  checked="" value="Percentage" id="discountValueGet1" required
                                  onclick="checkDiscount()" />
                                <span class="form-check-label">Percentage</span></label><label class="form-check">
                                <input type="radio" class="form-check-input" name="type" value="Flat Discount"
                                  id="discountValueGet2" required onclick="checkDiscount()" />
                                <span class="form-check-label">Fixed amount</span></label><label
                                class="form-check mb-0">
                                <input type="radio" class="form-check-input" name="type" value="Free Shipping"
                                  id="discountValueHide" required onclick="checkDiscount()" />
                                <span class="form-check-label">Free shipping</span></label>
                            </div>
                            <div class="mb-4" id="discountDiv">
                              <label for="form-coupon/value" class="form-label">Discount value <span
                                  id="discountValueMsg" style="font-size: 11px; color : red;"></span></label>
                              <input type="number" class="form-control" id="formCouponDiscount" name="discountValue" />
                            </div>
                            <div class="mb-4">
                              <label for="form-coupon/limit" class="form-label">Usage limit</label>
                              <input type="number" class="form-control" id="form-couponLimit" name="usageLimit"
                                requied />
                            </div>


                            <div class="mb-4">
                              <label for="form-coupon/limit" class="form-label">Available For</label>
                              <div class="input-group mb-4">
                                <span class="input-group-text" id="inputGroup-sizing-default">Above</span>
                                <input type="number" class="form-control" aria-label="Sizing example input"
                                  aria-describedby="inputGroup-sizing-default" value="0" name="lowerLimit" />
                              </div>
                              <div class="input-group mb-4">
                                <span class="input-group-text" id="inputGroup-sizing-default">Below</span>
                                <input type="number" class="form-control" aria-label="Sizing example input"
                                  aria-describedby="inputGroup-sizing-default" value="100000" name="upperLimit" />
                              </div>
                            </div>


                            
                          </div>
                        </div>
                      </div>
                      <div class="sa-entity-layout__sidebar">

                        <div class="card w-100">
                          <div class="card-body p-5">
                            <div class="mb-5">
                              <h2 class="mb-0 fs-exact-18">Coupon For</h2>
                            </div>
                            <select class="form-select couponFor" aria-label="Default select example" name="couponFor">
                              <option selected value="everyOne">Every one</option>
                              <option value="offerForSomeUsers">offer for some users</option>
                            </select>

                          </div>
                        </div>


                        <div class="card w-100 mt-5" id="statusDiv">
                          <div class="card-body p-5">
                            <div class="mb-5">
                              <h2 class="mb-0 fs-exact-18">Status</h2>
                            </div>
                            <div class="mb-n2 mt-n3">
                              <label class="form-check">
                                <input type="radio" class="form-check-input" name="status" checked="" value="enabled" />
                                <span class="form-check-label">Enabled</span></label><label class="form-check mb-0">
                                <input type="radio" class="form-check-input" name="status" value="disabled" /><span
                                  class="form-check-label">Disabled</span></label>
                            </div>
                          </div>
                        </div>

                        <div class="card w-100 mt-5" id="sheduleDiv">
                          <div class="card-body p-5">
                            <div class="mb-5">
                              <h2 class="mb-0 fs-exact-18">Schedule</h2>
                              <div class="mt-3 text-muted">
                                Use these settings to limit the coupon expiration
                                date.
                              </div>
                            </div>
                            <div class="mb-4">
                              <label for="form-coupon/start-date" class="form-label">Start date</label><input
                                type="text" class="form-control datepicker-here" id="form-coupon/start-date"
                                data-auto-close="true" data-language="en" name="startDate"  />
                            </div>
                            <div>
                              <label for="form-coupon/end-date" class="form-label">End date</label><input type="text"
                                class="form-control datepicker-here" id="form-coupon/end-date" data-auto-close="true"
                                data-language="en" name="endDate"  />
                            </div>
                          </div>
                        </div>

                        <div class="card w-100 mt-5" id="offerDiv">
                          <div class="card-body p-5">
                            <div class="mb-5">
                              <h2 class="mb-0 fs-exact-18">Coupon Type</h2>
                            </div>
                            <select class="form-select couponType" aria-label="Default select example" name="couponType">
                              <option selected value="fromToTo">coupon for purchasing between prices</option>
                              <option value="totalOrderAchievement">When reach total order achievement</option>
                              <option value="totalPriceAchievement">When reach total order upto a price</option>
                            </select>
                          </div>
                        </div>

                        <div class="card w-100 mt-5" id="fromToTo">
                          <div class="card-body p-5">
                            <div class="mb-4">
                              <label for="form-coupon/limit" class="form-label">Offer For</label>
                              <div class="input-group mb-4">
                                <span class="input-group-text" id="inputGroup-sizing-default">Above</span>
                                <input type="number" class="form-control" aria-label="Sizing example input"
                                  aria-describedby="inputGroup-sizing-default"  name="lowerLimitToGaveCoupon" />
                              </div>
                              <div class="input-group mb-4">
                                <span class="input-group-text" id="inputGroup-sizing-default">Below</span>
                                <input type="number" class="form-control" aria-label="Sizing example input"
                                  aria-describedby="inputGroup-sizing-default"  name="upperLimitToGaveCoupon" />
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="card w-100 mt-5" id="orderToReach">
                          <div class="card-body p-5">
                            <div class="mb-4">
                              <label for="form-coupon/start-date" class="form-label">Order to reach</label><input
                                type="text" class="form-control"  data-language="en" name="orderToReach"  />
                            </div>
                          </div>
                        </div>

                        <div class="card w-100 mt-5" id="priceToReach">
                          <div class="card-body p-5">
                            <div class="mb-4">
                              <label for="form-coupon/start-date" class="form-label">Price to reach</label><input
                                type="text" class="form-control"  data-language="en" name="priceToReach"  />
                            </div>
                          </div>
                        </div>
                        

                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- sa-app__body / end -->
          <!-- sa-app__footer -->
          <div class="sa-app__footer d-block d-md-flex">
            <!-- copyright -->Stroyka Admin — eCommerce Dashboard Template © 2021
            <div class="m-auto"></div>
            <div>
              Powered by HTML — Design by
              <a href="https://themeforest.net/user/kos9/portfolio">Kos</a>
            </div>
            <!-- copyright / end -->
          </div>
          <!-- sa-app__footer / end -->
        </div>
        <!-- sa-app__content / end -->
        <!-- sa-app__toasts -->
        <div class="sa-app__toasts toast-container bottom-0 end-0"></div>
        <!-- sa-app__toasts / end -->
      </div>
      <!-- sa-app / end -->
      <!-- scripts -->
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/feather-icons/feather.min.js"></script>
      <script src="/vendor/simplebar/simplebar.min.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/vendor/highlight.js/highlight.pack.js"></script>
      <script src="/vendor/quill/quill.min.js"></script>
      <script src="/vendor/air-datepicker/js/datepicker.min.js"></script>
      <script src="/vendor/air-datepicker/js/i18n/datepicker.en.js"></script>
      <script src="/vendor/select2/js/select2.min.js"></script>
      <script src="/vendor/fontawesome/js/all.min.js" data-auto-replace-svg="" async=""></script>
      <script src="/vendor/chart.js/chart.min.js"></script>
      <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
      <script src="/vendor/datatables/js/dataTables.bootstrap5.min.js"></script>
      <script src="/vendor/nouislider/nouislider.min.js"></script>
      <script src="/vendor/fullcalendar/main.min.js"></script>
      <script src="/admin_js/stroyka.js"></script>
      <script src="/admin_js/custom.js"></script>
      <script src="/admin_js/calendar.js"></script>
      <script src="/admin_js/demo.js"></script>
      <script src="/admin_js/demo-chart-js.js"></script>
      <script src="/admin_js/discountValueDiv.js"></script>
</body>

</html>