<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4 mb-md-0">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="footer_logo">
                                <img loading="lazy"  src="images/svg/logo.svg" alt="easy shop">
                            </div>
                            <div class="footet_text">
                                <p>Lorem ipsum, or lipsum as it is sometimes kno
                                    wn, is dummy text used in laying out print, gra
                                    phic or web designs the passage.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="footer_newslet">
                                <h4>Newsletter</h4>
                                <form class="footernews_form">
                                    <input type="text" placeholder="Your email address">
                                    <button type="submit" class="default_btn">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3 mb-md-0">
                    <div class="row">
                        <div class="col-6">
                            <div class="footer_menu">
                                <h4 class="footer_title">My Account</h4>
                                <a href="account-order-history.html">Orders</a>
                                <a href="wish-list.html">Wishlist</a>
                                <a href="track-order.html">Track Order</a>
                                <a href="#">Manage Account</a>
                                <a href="return-order.html">Return Order</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="footer_menu">
                                <h4 class="footer_title">Information</h4>
                                <a href="about-us.html">About Us</a>
                                <a href="return-policy.html">Return Policy</a>
                                <a href="terms-condition.html">Terms & condition</a>
                                <a href="privacy-policy.html">Privacy Policy</a>
                                <a href="faq.html">FAQ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer_download">
                        <div class="row">
                            <div class="col-lg-6 col-lg-12">
                                <h4 class="footer_title">Contact</h4>
                                <div class="footer_contact">
                                    <p>
                                        <span class="icn"><i class="las la-map-marker-alt"></i></span>

                                        7895 Dr New Albuquerue, NM 19800, <br> United
                                        States Of America
                                    </p>
                                    <p class="phn">
                                        <span class="icn"><i class="las la-phone"></i></span>
                                        +566 477 256, +566 254 575
                                    </p>
                                    <p class="eml">
                                        <span class="icn"><i class="lar la-envelope"></i></span>
                                        info@domain.com
                                    </p>
                                </div>
                            </div>
                            <div class="footer_social col-lg-6 col-lg-12">
                                <div class="footer_icon d-flex">
                                    <a href="#" class="facebook"><i class="lab la-facebook-f"></i></a>
                                    <a href="#" class="twitter"><i class="lab la-twitter"></i></a>
                                    <a href="#" class="instagram"><i class="lab la-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- copyright -->
    <div class="copyright_wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="copyright_text">© RAFCART - All Rights Reserved</p>
                </div>
                <div class="col-md-6">
                    <div class="payment_method">
                        <img loading="lazy"  src="images/payment-method.png" alt="payment method">
                    </div>
                </div>
            </div>
        </div>
    </div>