 <div class="col-lg-3">
                    <div class="account_sidebar">
                        <div class="account_profile position-relative shadow_sm">
                            <div class="acprof_img">
                                <a href="account.html">
                                    <img loading="lazy" src="images/avatar-2.png" alt="user">
                                </a>
                            </div>
                            <div class="acprof_cont">
                                <p>Hello,</p>
                                <h4>{{userDetails.userName}}</h4>
                            </div>
                            <div class="profile_hambarg d-lg-none d-block">
                                <i class="las la-bars"></i>
                            </div>
                        </div>
                        <div class="acprof_wrap shadow_sm">
                            <div class="acprof_links">
                                <a href="/view-account" class="active">
                                    <h4 class="acprof_link_title">
                                        <i class="lar la-id-card"></i>
                                        Manage My Account
                                    </h4>
                                </a>
                                <a href="/edit-user-profile">Profile Information</a>
                                <a href="/add-address">Manage Address</a>
                                <a href="account-change-password.html">Change Password</a>
                            </div>
                            <div class="acprof_links">
                                <a href="account-order-history.html">
                                    <h4 class="acprof_link_title">
                                        <i class="las la-gift"></i>
                                        My Order History
                                    </h4>
                                </a>
                                <a href="account-return-order.html">My Returns</a>
                                <a href="account-order-cancel.html">My Cancellations</a>
                                <a href="account-my-reviews.html">My Reviews</a>
                            </div>
                            <div class="acprof_links">
                                <a href="/available_coupons">
                                    <h4 class="acprof_link_title">
                                        <i class="las la-credit-card"></i>
                                        Coupons
                                    </h4>
                                </a>
                                <a href="/available_coupons">Available Coupons</a>
                                <a href="/available_coupons?achieve=achieve">coupons To Achive</a>
                            </div>
                            <div class="acprof_links">
                                <a href="wish-list.html">
                                    <h4 class="ac_link_title">
                                        <i class="lar la-heart"></i>
                                        My Wishlist
                                    </h4>
                                </a>
                            </div>
                            <div class="acprof_links border-0">
                                <a href="/logout">
                                    <h4 class="acprof_link_title">
                                        <i class="las la-power-off"></i>
                                        Log Out
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>