<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RAFCART - Multipurpose eCommerce HTML Template">
    <meta name="author" content="Programming Kit">
    <title>RAFCART - Multipurpose eCommerce HTML Template</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <!-- all css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/line-awesome.css">
    <link rel="stylesheet" href="landing/css/style.css">
</head>

<body>

<!-- header -->
<header>
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="logo">
                <img src="images/svg/logo.svg" alt="logo">
            </div>
            <div class="navbar d-flex align-items-center">
                <div class="menu d-flex">
                    <a href="#allpages">Demo</a>
                    <a href="#features">Features</a>
                </div>
                <div class="mobile_bar d-flex d-lg-none text-lg ms-3">
                    <i class="las la-bars"></i>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- banner -->
<div class="landing_banner">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-6">
                <div class="banner_content">
                    <h1>RAFCART - Multipurpose eCommerce HTML Template</h1>
                    <p>We made like real application. We did not use unwanted pages. <br class="d-none d-xl-block">
                        It will not make you confused.</p>
                    <div class="d-flex">
                        <a href="#allpages" class="default_btn d-flex align-items-center me-3"><span class="me-2"><i class="las la-eye"></i></span>demo</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner_img">
                    <img src="landing/images/landing.png" alt="banner">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- all pages -->
<div id="allpages" class="all_pages section_padding">
    <div class="container-fluid">
        <div class="section_title">
            <h2>
                <span class="text-color">3+</span> Stunning Home pages with <span class="text-color">34+</span>
                <br class="d-none d-sm-block"> inner pages
            </h2>
        </div>
        <div class="isotop_btns gap-md-3 gap-2 flex-wrap">
            <button data-filter="*" class="active">All</button>
            <button data-filter=".home">Home Pages</button>
            <button data-filter=".account">My Account</button>
            <button data-filter=".shop">Shop</button>
            <button data-filter=".other">Others</button>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4 isotop_active">
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item home">
                <a href="index-1.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/index1.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>home One</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item home">
                <a href="index-2.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/index2.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>home Two</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item home">
                <a href="index-3.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/index3.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>home Three</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item other">
                <a href="about-us.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/about-us.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>About Us</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item other">
                <a href="contact-us.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/contact-us.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Contact Us</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item other">
                <a href="register.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/register.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Login Page</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item shop">
                <a href="product-view.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/product-view.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>product-view</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item shop">
                <a href="shop-grid.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/shop-grid.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Shop Grid</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item shop">
                <a href="shop-grid-2.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/shop-grid-2.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>shop grid 2</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item shop">
                <a href="shop-list.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/shop-list.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>shop list</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item shop">
                <a href="shopping-cart.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/shopping-cart.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>shopping cart</h4>
                    </div>
                </a>
            </div>

            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="account.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/account.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>My Account</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="login.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/login.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Login Page</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="checkout.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/checkout.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Checkout Page</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="account-manage-address.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/account-manage-address.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Manage Address</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="account-my-reviews.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/account-my-reviews.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>My Reviews</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="account-edit-payment-method.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/account-edit-payment-method.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Edit Payment Method</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="account-change-password.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/account-change-password.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Change Password</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="account-cancel-details.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/account-cancel-details.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Cancel Details</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="account-order-cancel.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/account-order-cancel.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Order Cancel</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="account-order-details.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/account-order-details.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Order Details</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="account-order-history.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/account-order-history.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Order History</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="account-payment-methods.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/account-payment-methods.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Payment Method</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="account-profile-info.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/account-profile-info.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Profile Info</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="account-return-details.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/account-return-details.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Return Details</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="account-return-order.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/account-return-order.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Return Order</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="account-review-details.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/account-review-details.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Review Details</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="forgot-password.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/forgot-password.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Forgot Password</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="order-completed.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/order-completed.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Order Complete</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item account">
                <a href="payment.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/payment.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Payment Page</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item other">
                <a href="privacy-policy.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/privacy-policy.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>Privacy Policy</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item other">
                <a href="terms-condition.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/terms-condition.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>terms & condition</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item other">
                <a href="track-order.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/track-order.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>track order</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item other">
                <a href="wish-list.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/wish-list.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>wish list</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item other">
                <a href="faq.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/faq.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>FAQ Page</h4>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6 isotop_item other">
                <a href="404.html" class="single_pages">
                    <div class="page_img">
                        <img  src="landing/images/pages/404.png" alt="pages">
                        <div class="prod_soh">
                            <i class="las la-search-plus"></i>
                        </div>
                    </div>
                    <div class="page_content">
                        <h4>404 Page</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!--  theme features  -->
<div id="features" class="features_area section_padding_b">
    <div class="container">
        <div class="section_title">
            <h2>Our theme features</h2>
        </div>

        <div class="row gy-4">
            <div class="col-xl-3 col-sm-6 col-lg-4">
                <div class="single_feature">
                    <div class="feature_img">
                        <img src="landing/images/features/bootstrap.svg" alt="icon">
                    </div>
                    <div class="feature_content">
                        <h4>Latest Bootstrap 5</h4>
                        <p>
                            Bootstrap 5.0 World popular framework with a fully responsive and mobile-first design.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-lg-4">
                <div class="single_feature">
                    <div class="feature_img">
                        <img src="images/mobile-view.png" alt="icon">
                    </div>
                    <div class="feature_content">
                        <h4>Mobile Responsive</h4>
                        <p>
                            Many people will be accessing the website from their phone, so we made responsive designs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-lg-4">
                <div class="single_feature">
                    <div class="feature_img">
                        <img src="landing/images/features/browser.svg" alt="icon">
                    </div>
                    <div class="feature_content">
                        <h4>Browser Compatibility</h4>
                        <p>
                            All browsers tested. Including, opera, ie, Moz, and chrome. We believe to make beautiful.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-lg-4">
                <div class="single_feature">
                    <div class="feature_img">
                        <img src="landing/images/features/like.svg" alt="icon">
                    </div>
                    <div class="feature_content">
                        <h4>Well Documentation</h4>
                        <p>
                            Carefully created and easy to follow user guide included. Full clear hilighted code.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-lg-4">
                <div class="single_feature">
                    <div class="feature_img">
                        <img src="landing/images/features/layout.svg" alt="icon">
                    </div>
                    <div class="feature_content">
                        <h4>Stunning Layouts</h4>
                        <p>
                            RAFCART comes with all modern design & layout. You can easily control all the design.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-lg-4">
                <div class="single_feature">
                    <div class="feature_img">
                        <img src="landing/images/features/lineicon.svg" alt="icon">
                    </div>
                    <div class="feature_content">
                        <h4>line awesome Icon</h4>
                        <p>
                            Line Awesome is a free, icon based outline font created as an alternative to Font Awesome
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-lg-4">
                <div class="single_feature">
                    <div class="feature_img">
                        <img src="landing/images/features/service.svg" alt="icon">
                    </div>
                    <div class="feature_content">
                        <h4>24 Hour Support</h4>
                        <p>
                            Our friendly & professional support team is there for you. Message us any time for query.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-lg-4">
                <div class="single_feature">
                    <div class="feature_img">
                        <img src="landing/images/features/customize.svg" alt="icon">
                    </div>
                    <div class="feature_content">
                        <h4>Easy To Customize</h4>
                        <p>
                            Clean Documentation with well intended and commented. So you can easily customize.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<footer>
    <div class="text-center">
        <div class="logo mb-3">
            <img src="images/svg/logo.svg" alt="logo">
        </div>
        <p class="footer_text">
            © 2021 RAFCART By Programming Kit. All Rights Reserved.
        </p>
    </div>
</footer>


<!-- all js -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.5.1.min.js"></script>
<script src="landing/js/isotope.pkgd.min.js"></script>
<script>
    // Mobile menu
    $('.mobile_bar').on('click', function(){
        $('.menu').toggleClass('active')
        $('.mobile_bar i').toggleClass('la-bars la-times')
    })

    // Isotope Active
    var $grid = $('.isotop_active').isotope({
        itemSelector: '.isotop_item',
    })

    //isotope button
    $('.isotop_btns button').on('click', function () {
        var filterValue = $(this).attr('data-filter');
        $grid.isotope({
            filter: filterValue
        });
    });

    //for menu active class
    $('.isotop_btns button').on('click', function (event) {
        $(this).siblings('.active').removeClass('active');
        $(this).addClass('active');
        event.preventDefault();
    });
</script>
</body>

</html>