<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RAFCART - Multipurpose eCommerce HTML Template">
    <meta name="author" content="Programming Kit">
    <title>RAFCART - Multipurpose eCommerce HTML Template</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <!-- all css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/line-awesome.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
         <img src="https://res.cloudinary.com/dr2hks7gt/image/upload/v1668106009/La%20Bonnz/Walk_xjkfby.gif" alt="preloader">
    </div>

   

       {{>user_mobile_screen}}    
   

    <!-- breadcrumbs -->
    <div class="container">
        <div class="breadcrumbs">
            <a href="/"><i class="las la-home"></i></a>
            <a href="/privacy-policy" class="active">Privacy Policy</a>
        </div>
    </div>

    <!-- privacy policy page -->
    <div class="section_padding_b">
        <div class="container">
            <h2 class="section_title_2 mb-3 text-center">Privacy Policy</h2>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="privacy_content">
                        <p class="text_p text_md mb-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus aliquam architecto blanditiis
                            commodi cumque deleniti eaque earum eius esse, eum exercitationem iusto, modi molestiae mollitia nisi
                            quam quasi quia quis quod rem reprehenderit sed sit totam veritatis. Ab atque dicta earum excepturi
                            facere fuga illum incidunt, iste labore magnam neque repellat vero voluptates. At consectetur corporis
                            deleniti error ipsum.
                        </p>
                        <p class="text_p text_md mb-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus aliquam architecto blanditiis
                            commodi cumque deleniti eaque earum eius esse, eum exercitationem iusto, modi molestiae mollitia nisi
                            quam quasi quia quis quod rem reprehenderit sed sit totam veritatis.
                        </p>

                        <h4 class="text_lg">Prohibitions</h4>
                        <p class="text_p text_md mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ea illo minus
                            perspiciatis quia ratione. Eum harum nobis possimus quo voluptate. A accusamus alias architecto
                            blanditiis cupiditate debitis deserunt dolorum earum eligendi error esse eum fuga fugiat ipsa magni
                            maxime neque nesciunt, nihil nostrum, possimus quaerat quas quibusdam quisquam quos repellat tenetur ut!
                            Deleniti id, inventore ipsa modi nesciunt officiis repellendus! Harum labore officiis ratione totam
                            velit? Consequatur, dolor libero.</p>

                        <h4 class="text_lg">Terms of Sale</h4>
                        <p class="text_p text_md mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ea illo minus
                            perspiciatis quia ratione. Eum harum nobis possimus quo voluptate. A accusamus alias architecto
                            blanditiis cupiditate debitis deserunt dolorum earum eligendi error esse eum fuga fugiat ipsa magni
                            maxime neque nesciunt, nihil nostrum, possimus quaerat quas quibusdam quisquam quos repellat tenetur ut!
                            Deleniti id, inventore ipsa modi nesciunt officiis repellendus! Harum labore officiis ratione totam
                            velit? Consequatur, dolor libero.</p>

                        <h4 class="text_lg">Disclaimer of Liability</h4>
                        <p class="text_p text_md mb-4">A accusamus alias architecto
                            blanditiis cupiditate debitis deserunt dolorum earum eligendi error esse eum fuga fugiat ipsa magni
                            maxime neque nesciunt, nihil nostrum, possimus quaerat quas quibusdam quisquam quos repellat tenetur ut!
                            Deleniti id, inventore ipsa modi nesciunt officiis repellendus! Harum labore officiis ratione totam
                            velit? Consequatur, dolor libero.</p>

                        <h4 class="text_lg">Complaints</h4>
                        <p class="text_p text_md">Eum harum nobis possimus quo voluptate. A accusamus alias architecto
                            blanditiis cupiditate debitis deserunt dolorum earum eligendi error esse eum fuga fugiat ipsa magni
                            maxime neque nesciunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer area -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4 mb-md-0">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="footer_logo">
                                <img loading="lazy"  src="images/svg/logo.svg" alt="easy shop">
                            </div>
                            <div class="footet_text">
                                <p>Lorem ipsum, or lipsum as it is sometimes kno
                                    wn, is dummy text used in laying out print, gra
                                    phic or web designs the passage.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="footer_newslet">
                                <h4>Newsletter</h4>
                                <form class="footernews_form">
                                    <input type="text" placeholder="Your email address">
                                    <button type="submit" class="default_btn">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3 mb-md-0">
                    <div class="row">
                        <div class="col-6">
                            <div class="footer_menu">
                                <h4 class="footer_title">My Account</h4>
                                <a href="account-order-history.html">Orders</a>
                                <a href="wish-list.html">Wishlist</a>
                                <a href="track-order.html">Track Order</a>
                                <a href="#">Manage Account</a>
                                <a href="return-order.html">Return Order</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="footer_menu">
                                <h4 class="footer_title">Information</h4>
                                <a href="about-us.html">About Us</a>
                                <a href="return-policy.html">Return Policy</a>
                                <a href="terms-condition.html">Terms & condition</a>
                                <a href="privacy-policy.html">Privacy Policy</a>
                                <a href="faq.html">FAQ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer_download">
                        <div class="row">
                            <div class="col-lg-6 col-lg-12">
                                <h4 class="footer_title">Contact</h4>
                                <div class="footer_contact">
                                    <p>
                                        <span class="icn"><i class="las la-map-marker-alt"></i></span>

                                        7895 Dr New Albuquerue, NM 19800, <br> United
                                        States Of America
                                    </p>
                                    <p class="phn">
                                        <span class="icn"><i class="las la-phone"></i></span>
                                        +566 477 256, +566 254 575
                                    </p>
                                    <p class="eml">
                                        <span class="icn"><i class="lar la-envelope"></i></span>
                                        info@domain.com
                                    </p>
                                </div>
                            </div>
                            <div class="footer_social col-lg-6 col-lg-12">
                                <div class="footer_icon d-flex">
                                    <a href="#" class="facebook"><i class="lab la-facebook-f"></i></a>
                                    <a href="#" class="twitter"><i class="lab la-twitter"></i></a>
                                    <a href="#" class="instagram"><i class="lab la-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- copyright -->
    <div class="copyright_wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="copyright_text">© RAFCART - All Rights Reserved</p>
                </div>
                <div class="col-md-6">
                    <div class="payment_method">
                        <img loading="lazy"  src="images/payment-method.png" alt="payment method">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- all js -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>