<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
   
    {{#if noHeader}}
    {{else}}
    {{>header}}
    {{/if}}
    {{{body}}}
    {{#if noFooter}}
    {{else}}
    {{>footer}}
    {{/if}}
  </body>
</html>
