<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
   
    {{#if noHeader}}
    {{else}}
    {{>header}}
    {{/if}}
    {{{body}}}
    {{#if noFooter}}
    {{else}}
    {{>footer}}
    {{/if}}
  </body>
</html>
