<!DOCTYPE html>
<html>
  <head>
    <title>La Bonnz</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="shortcut icon" type="image/x-icon"
      href="https://www.freepnglogos.com/uploads/batman-begins-logo-png-20.png">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

  </head>
  <body>
   
    {{#if noHeader}}
    {{else}}
    {{>header}}
    {{/if}}
    {{{body}}}
    {{#if noFooter}}
    {{else}}
    {{>footer}}
    {{/if}}
  </body>
   <script src="https://kit.fontawesome.com/fcba624607.js" crossorigin="anonymous"></script>
   
</html>
